@import "tailwindcss";

@layer base {
  :root {
    --primary-blue: theme("colors.blue.500");
    --light-blue: theme("colors.blue.300");
    --dark-blue: theme("colors.blue.700");
    --bg-primary: theme("colors.white");
    --bg-secondary: theme("colors.gray.100");
    --text-primary: theme("colors.black");
    --surface-color: theme("colors.gray.900");
    --text-secondary: theme("colors.gray.600");
    --border-color: theme("colors.gray.300");
    --message-out: theme("colors.green.100");
    --message-in: theme("colors.white");
  }
}
